
.bg-radial{
  background: radial-gradient(100% 560.48% at 100% 50.06%, #0C113C 6.45%, #010303 28.13%, #181F5E 44.89%, #061C28 67.99%, #061F2C 100%)
    ;
}
.bg-rectangle{
  background: linear-gradient(179.98deg, #E98A15 0.02%, #0E4657 99.98%);
  
}

.rect{
  background-image: url("./assets/basket.png");
  background-repeat: no-repeat;
  background-position: center;

}
